body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

nav {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

h1 {
  font-family: "open sans", cursive;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 64px;
}

h2 {
  font-family: "open sans", cursive;
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-family: "open sans", cursive;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* CSS for EVERY PAGE SECTION */

section {
  position: relative;
  color: white;
  padding-top: 15vh;
  padding-bottom: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-warning {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}

/* PAGE SECTION INDIVIDUAL CSS */
/* Main CTA */

#hero {
  background-image: url("../assets/main-bg.jpg");
  height: 100vh;
}

.hero-content {
  top: 30%;
}

#main-button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  padding: 18.7px 55.57px 19.3px 56.58px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.ground-level-center {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* About + Gallery */

#the-games {
  background-image: url("../assets/the-games-bg.jpg");
}

/* Game Feature */

#features {
  background-image: url("../assets/features.jpg");
}

.timeline {
  position: relative;
  margin-bottom: 30px;
}

.content-body {
  position: relative;
  padding-left: 4em;
}

.timeline:first-child::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -15px;
  height: 110%;
  width: 2px;
  background-color: white;
}

.timeline-title::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -21.5px;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  display: inline-block;
  border: 2px solid white;
}

.timeline:first-child .timeline-title::before {
  background-color: white;
}

/* Syst Req */

#requirements {
  background-image: url("../assets/requirements.png");
}

/* Press Quote */

#top-score {
  position: relative;
  color: white;
  background-image: url("../assets/top-score-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
  padding-top: 20vh;
}

#see-more-button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  padding: 18.7px 55.57px 19.3px 56.58px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.quotes-card {
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.quotes-card-second {
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.prof-pic-game {
  top: 0;
  bottom: 0;
  left: 20%;
  margin: auto;
  position: absolute;
  width: 65px;
  height: 65px;
  z-index: 2;
}

.bg-prof-pic-game {
  top: 20%;
  bottom: 0;
  left: 30%;
  margin: auto;
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: violet;
  z-index: 1;
}

.gamer-name {
  font-size: 24px;
  color: #ffb548;
}

.workplace {
  font-size: 18px;
}

.quote-sentence {
  margin-top: 1em;
  margin-left: 1em;
  text-align: left;
}

.date-quote {
  margin-left: 0.5em;
  text-align: start;
}

/* Newsletter */

#newsletter {
  background: #080a0b;
}

#newsletter-img {
  background-image: url("../assets/top-score-bg.png"),
    url("../assets/top-score-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

#email-wrapper {
  position: relative;
}

::-webkit-input-placeholder {
  color: #ffb548 !important;
}

:-ms-input-placeholder {
  color: #ffb548 !important;
}

::placeholder {
  color: #ffb548 !important;
}

#subscribe-button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  padding: 18px 55px 18px 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

footer {
  display: block;
  background: #080a0b;
  color: white;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
/* MEDIA QUERY */

@media screen and (min-width: 767px) and (min-height: 992px) {
  section {
    height: 100vh;
  }

  #newsletter-img {
    width: 413px;
    height: 656px;
  }
}

@media screen and (min-height: 500px) {
  #the-games {
    height: 100vh;
  }

  #features {
    height: 100vh;
  }

  #newsletter {
    height: 100vh;
  }
}

@media screen and (min-width: 300px) {
  h1 {
    font-size: 65px;
  }
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: 80px;
  }
}

@media screen and (min-width: 1080px) {
  .quotes-card {
    width: 25.1666em;
    height: 10.1666em;
    margin: 1em 1em 1em 4em;
  }

  .quotes-card-second {
    width: 25.1666em;
    height: 10.1666em;
    margin: 1em 4em 1em 0em;
  }
}

@media screen and (max-width: 1079px) {
  .quotes-card {
    margin: 1.5em 0 1em 0;
  }

  .quotes-card-second {
    margin: 1.5em 0 1em 0;
  }
}

@media screen and (min-width: 767px) {
  .timeline:first-child::before {
    height: 114%;
  }
}

@media screen and (min-width: 992px) {
  .timeline:first-child::before {
    height: 120%;
  }
}

@media screen and (min-width: 1079px) {
  .timeline:first-child::before {
    height: 126%;
  }
}
